#btnNextVBox {
    -fx-padding: 60px;
}

#btnNext {
    -fx-background-color: #ffb300;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: #0b0b45;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-min-width: 150px;
    -fx-min-height: 40px;
}

#lSelectMenu {
    -fx-padding: 24px, 0px, 0px, 0px;
    -fx-font-size: 30px;
    -fx-text-fill: #0b0b45;
    -fx-font-family: "Arial Black";
}

.btnScene2 {
    -fx-background-color: #0b0b45;
    -fx-background-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #ba1523;
    -fx-border-radius: 10px;
    -fx-text-fill: #ffb300;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 50px
}

#lParticipatingCountries {
    -fx-padding: 24px;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-text-fill: #ffb300
}

.column {
    -fx-text-fill: White;
    -fx-font-family: "Arial Black";
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-background-color: #ffb300;
    -fx-text-fill: #0b0b45
}

.table-view .table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.154);
}

.table-view:focused .table-row-cell:filled:selected:focused,
.table-view .table-row-cell:filled:selected:focused {
    -fx-background-color: -fx-selection-bar;
    -fx-background-insets: 0;
}

#vboxParticipatingCountries2 {
    -fx-padding: 24px
}

#lFinalStandings {
    -fx-padding: 24px;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-text-fill: #ffb300
}

.medals-country Label {
    -fx-font-family: "Arial Black";
    -fx-text-fill: #ffffff
}

.boxCountry-addMedals {
    -fx-background-color: rgba(255, 255, 255, 0.154);
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial Black";
}

#btnAddMedali-Clear {
    -fx-background-color: #ffb300;
    -fx-background-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-color: #ba1523;
    -fx-border-radius: 5px;
    -fx-text-fill: #0b0b45;
    -fx-font-family: "Arial Black";
    -fx-font-size: 13px;
    -fx-min-width: 100px;
    -fx-min-height: 32px;
}

.documentation {
    -fx-padding: 10px;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-text-fill: #ffb300
}

.lDescription {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-text-fill: #ffb300
}

.BGdocumentation {
    -fx-background-color: #0b0b45;
}

.btnNextDocumentation {
    -fx-background-color: #ffb300;
    -fx-background-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #ba1523;
    -fx-border-radius: 10px;
    -fx-text-fill: #0b0b45;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 50px
}

.btnBacktoMenuCalendar{
    -fx-background-color: #ffb300;
    -fx-background-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-color: #ba1523;
    -fx-border-radius: 8px;
    -fx-text-fill: #0b0b45;
    -fx-font-family: "Arial Black";
    -fx-font-size: 10px;
    -fx-min-width: 120px;
    -fx-min-height: 30px
}

.column {
    -fx-text-fill: White;
    -fx-font-family: "Arial Black";
    -fx-alignment: center;
}

#lSchedule{
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-text-fill: #ffb300
}