#btnNextVBox{
    -fx-padding :60px;
}

#btnNext{
    -fx-background-color: #ffb300;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: #0b0b45;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-min-width: 150px;
    -fx-min-height: 40px;
}

#lSelectMenu{
    -fx-padding: 24px,0px,0px,0px;
    -fx-font-size: 30px;
    -fx-text-fill: #0b0b45;
    -fx-font-family: "Arial Black";
}

#btnCountryList{
    -fx-background-color: #0b0b45;
    -fx-background-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #ba1523;
    -fx-border-radius: 10px;
    -fx-text-fill: #ffb300;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 50px;
}

#btnListSports{
    -fx-background-color: #0b0b45;
    -fx-background-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #ba1523;
    -fx-border-radius: 10px;
    -fx-text-fill: #ffb300;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 50px
}

#btnFinalStandings{
    -fx-background-color: #0b0b45;
    -fx-background-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #ba1523;
    -fx-border-radius: 10px;
    -fx-text-fill: #ffb300;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 50px
}

